
body {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-box-align:start;
}

.toolstrip-buttons, .toolstrip-content {

  margin:0;
  padding:0;
}

.toolstrip-buttons > div {
	-webkit-box-align: start;
}

.bookmarks {
	display:none;
}

.settings {
	display:none;
	-webkit-box-orient:vertical;
	width:100%;
	padding:5px;
}

.toolstrip {

  -webkit-box-align: start;
  border: 1px solid grey;

	margin-top:-25;
}

.toolstrip-button div, img {
	-webkit-box-direction:normal;
	vertical-align:middle;
}

div.toolstrip-button > img {
	margin-top: -5px;
}

.toolstrip-content {
  -webkit-box-flex: 1;
  color: black;
  width:300;
}

p.infield { position:relative }
label  { position:absolute; top:5; left:5}

