
body {
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
}

.toolstrip-buttons, .toolstrip-content {

  margin:0;
  padding:0;
}

.toolstrip-buttons > div {
	-webkit-box-align: start;
}

.bookmarks {
	display:none;
}

.settings {
	display:none;
	-webkit-box-orient:vertical;
	width:100%;
	padding:15px;
}

.toolstrip {
  height: 25px;
  -webkit-box-align: start;
  border: 1px solid grey;

	margin-top:-25;
}

.toolstrip-button div, img {
	-webkit-box-direction:normal;
	vertical-align:middle;
}

div.toolstrip-button > img {
	margin-top: -5px;
}

.toolstrip-content {
  -webkit-box-flex: 1;
  color: black;
  width:300;
}

