
body {
  width: 200px;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
}

.toolstrip-buttons, .toolstrip-content {

  margin:0;
  padding:0;
}

.bookmarks {
	display:none;
}

.toolstrip {
  height: 23px;
  -webkit-box-align: center;
  border: 1px solid grey;
  	-webkit-box-flex: 0;
}

.toolstrip-button div, img {
	-webkit-box-direction:normal;
}

.toolstrip-content {
  -webkit-box-flex: 1;
  background-color: white;
  color: black;
  width:300;
}

